.wrapper{
    margin: 5px;
}

.face{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 50%;
}

.leftEye{
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    left: 32px;
    top: 26px;
    background-color: black;
}

.rightEye{
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    left: 54px;
    top: 16px;
    background-color: black;
}

.mouth{
    width: 30px;
    height: 10px;
    border: 1px solid black;
    border-radius: 0 0 45px 45px;
    margin: 16px;
    position: relative;
    top: 1em;
    left: 1em;
    background-color: black;
}

#innerLeft{
    width: 2px;
    height: 2px;
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}

#innerRight{
    width: 2px;
    height: 2px;
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
    left: 2px;
    top: 2px;
    background-color: white;
}